<div class="col-md-10 offset-md-1">
    <app-form-filters></app-form-filters>
</div>
<div class="row justify-content-center">
@for (game of games; track game.id){
    <div class="card col-md-3 m-2 p-0">
        <img src="{{ game.thumbnail }}" class="card-img-top" alt="{{ game.thumbnail }}">
        <div class="card-body">
            <h5 class="card-title">{{ game.title }}</h5>
            <p class="card-text">{{ game.short_description }}</p>
            <a routerLink="/game/{{game.id}}">Ver detallles</a>
        </div>
    </div>
}
</div>